html {
    font-family: 'Arial', Times, serif, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    font-size: 14px;
}
body {
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
}
 .icon-cap {
            font-size: 26px;
            color: rgb(5, 3, 90);
        }
.sch{
    font-size: 0.7rem;
    color: rgb(45, 0, 128);
}
.card{
    height: 350px;
    width: 230px;
    padding: 15px 15px 20px;
   
}
.card-1{
    background-color: rgb(247, 227, 247);
    border-radius: 15px;
    .fa-check{
    color: rgb(177, 99, 250);
    border: 1px solid rgb(199, 33, 214);
    border-radius: 50%;
    margin: 5px;
}
.btn1{
    background-color: purple
}


}
.card-2{
    background-color: rgba(207, 238, 207, 0.356);
    border-radius: 15px;
    .fa-check{
    color: rgb(99, 250, 162);
    border: 1px solid rgb(33, 214, 102);
    border-radius: 50%;
    margin: 5px;
   }
.btn2{
    background-color: green;
}
}
.card-3{
    background-color: rgba(245, 172, 104, 0.356);
    border-radius: 15px;
    .fa-check{
    color: rgb(243, 187, 149);
    border: 1px solid rgb(214, 151, 33);
    border-radius: 50%;
    margin: 5px;
}
}
.icon, .features, h2, p, button {
    margin: 15px;
}
.icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fa-check{
    color: rgb(81, 193, 245);
    border: 1px solid rgb(11, 143, 184);
    border-radius: 50%;
    margin: 5px;
}

.btn{
    position: relative;
}

button {
    background-color: rgba(199, 102, 22, 0.705);
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    width: 80%;
    cursor: pointer;
}
.fa-arrow-right{
    margin-left: 10px;
    color: white;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
}
.main{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    
}
/* mobile */
@media (max-width: 412px) {
    .main{
        flex-direction: column;
        height: auto;
    }
    .card{
        margin: 20px 0;
    }
}